@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(249, 249, 249);
    color: rgb(0, 0, 0);
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(30, 113, 180);
    padding: 10px;
    height: 70px;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 19px;
}

nav ul li {
    margin: 5px;
    padding: 10px;
}

nav ul li:hover {
    margin: 5px;
    padding: 10px;
    transition: .5s;
    transform: scale(1.10);
    filter: drop-shadow(10px 10px 20px white);
}

nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

nav ul li a:hover {
    color: #343131;
}

.navbar nav img {
    width: 90px;
    height: 90px;
}

.navbar nav a img:hover {
    transform: scale(1.10);
    transition: .3s;
    filter: drop-shadow(10px 10px 15px rgba(255, 255, 255, 0.374));
}

.button button {
    border-radius: 20px;
    border: 1px solid white;
    padding: 7px;
    cursor: pointer;
    color: white;
    background-color: rgb(34, 66, 74);
}

.button button:hover {
    color: #1680ac;
    font-weight: 400;
    background-color: cyan;
    transform: scale(1.10);
    transition: .3s;
    filter: drop-shadow(10px 10px 10px rgba(255, 255, 255, 0.31));
    color: #fff;
    background: rgba(115, 113, 113, 0.661);
}


/* -------------------------------------------------------- Home -------------------------------------------------------- */
section .home {
    padding: 100px 200px;
    width: 100vw;
    height: 100vh;
}

header img {
    width: 120px;
    height: 100px;
}

.home {
    position: relative;
    width: 100%;
    padding-left: 150px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(30, 113, 180);
}

.home::before {
    z-index: 777;
    content: "";
    position: absolute;
    background: rgba(29, 29, 29, 0.701);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    text-decoration: none;
    color: #1680ac;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 45px;
    transition: 0.3s ease;
}

.home .content a:hover {
    /* border:3px solid #fff; */
    box-shadow: rgba(0, 0, 0, 0.007) 0px 5px 15px;
    color: #fff;
    font-weight: 700;
    background: rgba(115, 113, 113, 0.661);
}

.menu-btn {
    display: none;
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation1 {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-left: 40px;
    margin-top: 200px;
}

.slider-navigation1 .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation1 .nav-btn.active {
    background: #2696e9;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
}

.slider-navigation1 .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation1 .nav-btn:hover {
    transform: scale(1.2);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #2696e9;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.video-slide,
.slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.t-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active,
.slide.active,
.t-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}



/* ---------------------------------------------------- Services ---------------------------------------------------- */
.service_card {
    display: flex;
    flex-wrap: wrap;
    /* margin: auto; */
    margin-top: 130px;
}

.service_card1 {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.headline h2 {
    margin-left: 100px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    flex: none;
}

.card {
    width: 300px;
    margin: 20px;
    /* border: 1px solid #ddd;   */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(101, 100, 100, 0.449);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .2s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card-content {
    padding: 15px;
    background-color: rgb(125, 167, 202);
    text-align: center;
}

.card-content p {
    text-align: center;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(34, 66, 74);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5261c3;
}

.extra {
    display: flex;
    justify-content: center;
}


/* --------------------------------------------------------Footer------------------------------------------------ */
.footer {
    padding-bottom: 0px;
    z-index: 1;
    bottom: 0;
    justify-content: space-evenly;
    display: flex;
    margin-top: 100px;
}

.footer-container {
    max-width: 100%;
    background-color: rgb(42, 113, 164);
    /* margin: auto; */
    padding-top: 15px;
    /* position: absolute; */
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 1000;
    position: relative;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #3498db;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.connect_content .cont {
    color: white;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffff;

}

ul {
    list-style: none;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;

}

.footer-col .social-links {
    color: #ffffff;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .social-links p {
    color: #ffffff;
}

#home footer div.col-md-12>p a {
    text-decoration: none;
}

#home footer ul {
    padding-left: 0px;
}

.footer-col p {
    color: white;
}

/* ------------------------------------------------------------ GOVT -------------------------------------------------- */

.main h2 {
    margin-left: 100px;
}

.main_img {
    position: relative;
}

.main_img img {
    width: 300px;
    height: 300px;
    border-radius: 40px;
    margin: 90px 50px 20px 20px;
    box-shadow: 10px 10px 10px rgb(63, 62, 62);
}

.main_content {
    margin: 20px;
    font-size: 1rem;
    flex: 1;
    color: black;
}

.govt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 100px 100px 100px;
}

.main_content h1 {
    color: #000000;
    text-align: center;
}

.main_content button {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: #1680ac;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 300px;
}

.main_content p {
    font-weight: 500;
}

.main_content button:hover {
    transform: scale(1.10);
    transition: 0.3s;
    filter: drop-shadow(10px 10px 10px rgb(86, 83, 83));
    background-color: #24262b;
}

/* government schemes page starts */
.govern img{
    width: 100%;
    height:650px;
    background-size: cover;
}
.sch-text{
text-align: center;
font-family: "intern" ;
font-weight: 550;
font-size: x-large;
color: rgb(61, 61, 61);
text-decoration: underline;
}
.scheme{
    display: inline-flex;
    border-bottom: grey solid 1px;
    padding:4%;
}
.sch-img{
    width: 25%;
}
.sch-img img{
    
        width: 250px; /* Set your desired width */
        object-fit: cover; /* This property specifies how the content of the replaced element should be resized to fit its container */
      background-size:cover;
      
}
.scheme h2{
    font-family: "cinzel" ;
    font-weight: 550;
    font-size: normal;
    color: rgb(53, 50, 50);
}
.scheme button a{
text-decoration: none;
padding-top: 8%;
color: white;

}
.scheme1{
    padding-left: 8%;
    left: 50px;
    width: 80%;
    
}
.scheme1 h2{
    padding-bottom:2% ;
}
.scheme1 p{
    font-size: large;
   
}
.scheme button{
    background-color: rgb(44, 21, 138);
  width: 8%;
  height: 30%;
    border-radius: 8%;
  
}

/* government schemes page ends */